<div class="overlay" [ngClass]="{ show: showEditingModal }"></div>

<div class="editModal" [ngClass]="{ show: showEditingModal }">
  <div class="editModal__header">
    <div class="editModal__header--title"></div>
    <div class="editModal__header--title">
      <h2>{{ element.name }}</h2>
    </div>
    <div class="editModal__header--title">
      <a type="button" (click)="closeModal()">
        <span>&times;</span>
      </a>
    </div>
  </div>

  <div class="editModal__body">
    <img
      class="editModal__body--bgImage"
      [src]="element.image"
      [alt]="element.image"
    />

    <form class="editModal__body--form">
      <div class="editModal__body--form__field">
        <label for="name">{{ element.type }} Name :</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="element.name"
          [disabled]="!toggleEdit"
        />
      </div>

      <div class="editModal__body--form__field">
        <label for="type">Element Type :</label>
        <select name="type" [(ngModel)]="element.type" [disabled]="!toggleEdit">
          <option value="Series">Series</option>
          <option value="Movies">Movies</option>
        </select>
      </div>

      <div class="editModal__body--form__field">
        <label for="releaseDate">Element Release Date :</label>
        <input
          type="datetime"
          name="releaseDate"
          [(ngModel)]="element.releaseDate"
          [disabled]="!toggleEdit"
        />
      </div>

      <div class="editModal__body--form__field">
        <label for="image">{{ element.type }} Image Sucre :</label>
        <input
          type="url"
          name="image"
          [(ngModel)]="element.image"
          [disabled]="!toggleEdit"
        />
      </div>

      <div class="editModal__body--form__field">
        <label for="status">{{ element.type }} status :</label>
        <input
          type="text"
          name="status"
          [(ngModel)]="element.status"
          [disabled]="!toggleEdit"
        />
      </div>

      <div class="editModal__body--form__field">
        <label for="subtitles">{{ element.type }} subtitles :</label>
        <input
          type="number"
          name="subtitles"
          [(ngModel)]="element.subtitles"
          [disabled]="!toggleEdit"
        />
      </div>

      <div class="editModal__body--form__field">
        <label for="dubbing">{{ element.type }} dubbing :</label>
        <input
          type="number"
          name="dubbing"
          [(ngModel)]="element.dubbing"
          [disabled]="!toggleEdit"
        />
      </div>

      <div class="editModal__body--form__field">
        <label for="rate">{{ element.type }} rate :</label>
        <input
          type="number"
          name="rate"
          [(ngModel)]="element.rate"
          [disabled]="!toggleEdit"
        />
      </div>

      <div class="editModal__body--form__field">
        <label for="description">{{ element.type }} Description :</label>
        <textarea
          type="text"
          name="description"
          [(ngModel)]="element.description"
          [disabled]="!toggleEdit"
        >
        </textarea>
      </div>
    </form>
  </div>

  <div class="editModal__footer">
    <div>
      <a
        type="submit"
        class="editModal__footer--button delete"
        (click)="deleteElement()"
      >
        Delete {{ element.type }}
      </a>
    </div>

    <div>
      <a
        type="submit"
        class="editModal__footer--button"
        [ngClass]="{ show: !toggleEdit }"
        [ngClass]="{ hide: toggleEdit }"
        (click)="editElement()"
      >
        Edit Element
      </a>

      <a
        type="submit"
        class="editModal__footer--button"
        [ngClass]="{ hide: !toggleEdit }"
        (click)="saveChanges()"
      >
        Save Changes
      </a>
    </div>

    <div>
      <a type="button" class="editModal__footer--button" (click)="closeModal()">
        Close
      </a>
    </div>
  </div>
</div>
