.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }
}

.editModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-bg);
  color: var(--main-text);

  border-radius: 10px;
  min-width: 75%;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    &--title {
      cursor: default;

      & > a {
        cursor: pointer;

        & > span {
          font-weight: bolder;
          font-size: larger;
        }
      }
    }
  }

  &__body {
    margin-inline: auto;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    @media only screen and (max-width: 772px) {
      justify-content: space-around !important;
    }

    &--bgImage {
      width: 50%;
      margin: 0 1rem 0 0;
      @media only screen and (max-width: 772px) {
        display: none;
      }
    }

    &--form__field {
      display: flex;
      width: 30vw;
      margin: 1rem 0;
      height: 2.5rem;
      @media only screen and (max-width: 772px) {
        width: 100%;
      }

      & > label {
        padding-right: 1rem;
        width: 20vw;
        @media only screen and (max-width: 772px) {
          width: 100%;
        }
      }
      & > textarea {
        padding-right: 1rem;
        width: 22vw;
        height: 7vh;
        @media only screen and (max-width: 772px) {
          width: 100%;
        }
      }

      & > a {
        cursor: pointer;
      }
      & > div > div {
        display: inline-block;

        & > input {
          padding: 0.5rem;
          margin: 0 0.25rem;
        }
      }

      & > input {
        width: 75%;
        padding: 0.5rem;
        @media only screen and (max-width: 1399px) {
          width: 50%;

          & > select {
            width: 50%;
          }
        }
        @media only screen and (max-width: 772px) {
          width: 100%;
        }
      }

      & > select {
        width: 75%;

        @media only screen and (max-width: 1399px) {
          width: 50%;
        }
        @media only screen and (max-width: 772px) {
          width: 100%;
          padding: 0.5rem 0;
        }
      }
    }
  }

  &__footer {
    border-top: 1px solid var(--main-text);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;

    &--button {
      cursor: pointer;

      &.show {
        display: block;
      }
      &.hide {
        display: none;
      }
    }
    .delete {
      color: red;
    }
  }
}
