<nav class="navbar">
  <div class="navbar__brand">
    <a routerLink="/home">
      <img
        class="navbar__brand--img"
        src="/assets/icons/NetflixLogo.svg"
        alt="Netflix Logo"
      />
    </a>
  </div>
  <div class="navbar__btnList">
    <ul class="navbar__list">
      <li class="navbar__list--btn">
        <a href="">
          <img
            class="navbar__list--btn__icon"
            src="../../../assets/icons/questionMark.svg"
            alt="More info"
          />
        </a>
      </li>
      <li class="navbar__list--btn">
        <a href="">
          <img
            class="navbar__list--btn__icon"
            src="../../../assets/icons/gear.svg"
            alt="Settings"
          />
        </a>
      </li>
      <li class="navbar__list--btn">
        <a href="">
          <img
            class="navbar__list--btn__icon"
            src="../../../assets/icons/bell.svg"
            alt="Notifications"
          />
        </a>
      </li>
    </ul>
    <div class="navbar__profile">
      <img
        class="navbar__profile--image"
        src="../../../assets/icons/profile.svg"
        alt="more info"
      />
      <img
        class="navbar__profile--arrow"
        src="../../../assets/icons/arrowDown.svg"
        alt="more info"
      />
      <div class="navbar__profile--options">
        <div class="option">
          <a href="">User Interface</a>
        </div>
        <div class="option">
          <a (click)="logOut()">LogOut</a>
        </div>
      </div>
    </div>
  </div>
</nav>
