<div class="searchBar">
  <div class="searchBar__header">
    <h4 class="searchBar__header--text">My Titles (4)</h4>
    <hr class="searchBar__header--line" />
  </div>
  <div class="searchBar__mainSection">
    <div class="searchBar__mainSection__input">
      <img
        class="searchBar__mainSection__input--btn"
        src="../../../assets/icons/list.svg"
        alt="List"
      />
      <img
        class="searchBar__mainSection__input--btn"
        src="../../../assets/icons/plus.svg"
        alt="List"
        (click)="toggleShowAddingModalValue()"
      />
      <input
        class="searchBar__mainSection__input--input"
        type="search"
        placeholder="search"
        [(ngModel)]="searchValue"
      />
      <div class="searchBar__mainSection__input--aside">
        <a href="">
          <p>Reset</p>
        </a>
        <div class="searchBar__mainSection__input--aside__separator"></div>
        <a href="">
          <div class="searchBar__mainSection__input--aside__btn">
            <img src="../../../assets/icons/bookmark.svg" alt="Bookmarks" />
            <p class="searchBar__mainSection__input--aside__text">
              Saved Filters
            </p>
          </div>
        </a>
      </div>
    </div>
    <div class="searchBar__mainSection__view">
      <p class="searchBar__mainSection__view--text">Change View:</p>
      <div class="searchBar__mainSection__view--btnGroup">
        <img
          class="searchBar__mainSection__view--btnGroup__btn selected"
          src="../../../assets/icons/grid.svg"
          alt="Grid View"
        />
        <img
          class="searchBar__mainSection__view--btnGroup__btn"
          src="../../../assets/icons/burgerMenu.svg"
          alt="List View"
        />
      </div>
      <div class="searchBar__mainSection__view--button">
        <p class="searchBar__mainSection__view--button__text">Organize</p>
        <img
          class="searchBar__mainSection__view--button__arrow"
          src="../../../assets/icons/arrowDown.svg"
          alt="more info"
        />
      </div>
    </div>
  </div>
</div>

<app-adding-modal [showAddingModal]="showAddingModal" />
<app-card-view [childListFilter]="searchValue" />
