<div class="overlay" [ngClass]="{ show: showAddingModal }"></div>

<div class="modal" [ngClass]="{ show: showAddingModal }">
  <div class="modal__header">
    <div class="modal__header--title"></div>
    <div class="modal__header--title">
      <h2>Add Element</h2>
    </div>
    <div class="modal__header--title">
      <a type="button" (click)="closeModal()">
        <span>&times;</span>
      </a>
    </div>
  </div>

  <form class="modal__body" [formGroup]="elementForm">
    <div class="modal__body--field">
      <label for="name">Element Name :</label>
      <input type="text" name="name" formControlName="name" />
    </div>

    <div class="modal__body--field">
      <label for="type">Element Type :</label>
      <select name="type" formControlName="type">
        <option value="Series">Series</option>
        <option value="Movies">Movies</option>
      </select>
    </div>

    <!-- <div class="modal__body--field">
      <label for="releaseDate">Element Release Date :</label>
      <input type="datetime" name="releaseDate" formControlName="releaseDate" />
    </div> -->

    <div class="modal__body--field">
      <label for="image">Element image sucre :</label>
      <input type="url" name="image" formControlName="link" />
    </div>

    <div class="modal__body--field">
      <label for="rate">Element Rate :</label>
      <input type="number" name="rate" formControlName="rate" />
    </div>

    <div class="modal__body--field">
      <label for="description">Element Description :</label>
      <input type="text" name="description" formControlName="description" />
    </div>

    <div class="modal__body--field">
      <label for="genres">Element Genres :</label>
      <div formArrayName="genres">
        <div *ngFor="let genre of genres.controls; let i = index">
          <input type="text" name="genres" [formControlName]="i" />
        </div>
      </div>
      <a type="button" (click)="addGenre()">Add Genre</a>
    </div>
  </form>

  <div class="modal__footer">
    <div>
      <a type="button" class="modal__footer--button" (click)="closeModal()">
        Close
      </a>
    </div>
    <div>
      <a type="submit" class="modal__footer--button" (click)="saveModal()">
        Save changes
      </a>
    </div>
  </div>
</div>
