<ul class="filterList">
  <li class="filterList__item active" [class.active]="selectedFilter === 'All'">
    <a
      (click)="
        selectedFilter = 'All'; elements = filterElements(selectedFilter)
      "
    >
      All
    </a>
  </li>
  <li
    class="filterList__item"
    *ngFor="let alphabet of alphabets; let i = index"
    [class.active]="selectedFilter === alphabet"
  >
    <a
      (click)="
        selectedFilter = alphabet; elements = filterElements(selectedFilter)
      "
    >
      {{ alphabet }}
    </a>
  </li>
</ul>

<div class="card" *ngFor="let element of elements">
  <div class="card__data">
    <img
      class="card__data--image"
      [src]="element.image"
      [alt]="element.name"
    />
    <div class="card__data--info">
      <h3>{{ element.name }}</h3>
      <div class="card__data--info__details">
        <p class="card__data--info__details--data">{{ element.id }}</p>
        <div></div>
        <p class="card__data--info__details--data">{{ element.type }}</p>
        <div></div>
        <p class="card__data--info__details--data">{{ element.releaseDate }}</p>
      </div>
      <div class="card__data--info__QC">
        <div class="card__data--info__QC--data" *ngIf="element.rate != 0">
          <img src="../../../assets/icons/yellowDot.svg" alt="Fix Notes" />
          <p>{{ element.status }}</p>
          <p>Fix Notes</p>
        </div>
        <div class="card__data--info__QC--data" *ngIf="element.dubbing != 0">
          <img src="../../../assets/icons/redDot.svg" alt="Failed" />
          <p>{{ element.dubbing }}</p>
          <p>Failed</p>
        </div>
        <div
          class="card__data--info__QC--data border"
          *ngIf="element.subtitles != 0"
        >
          <p>{{ element.subtitles }}</p>
          <p>Rushed</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card__details">
    <div class="card__details--icons"></div>
    <a>
      <img
        src="../../../assets/icons/arrowRight.svg"
        alt="more details"
        class="moreDetails"
        (click)="toggleShowEditingModalValue(element.id)"
      />
    </a>
  </div>
</div>
<app-edit [showEditingModal]="showEditingModal" [elementId]="elementId" />
