.card {
  margin-top: 1rem;
  background-color: var(--secondary-bg);
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 430px) {
    flex-direction: column;
  }

  &__data {
    display: flex;
    align-items: center;
    @media only screen and (max-width: 430px) {
      flex-direction: column;
    }

    &--image {
      padding: 1rem;
      max-width: 17.5rem;
    }

    &--info {
      &__details {
        display: flex;
        align-items: center;

        &.genres {
          margin: 0 0.5rem;

          & > p {
            min-width: 2.5rem;
          }
        }

        & > * {
          margin-right: 0.5rem;
        }

        & > div {
          border-left: 2px solid var(--main-text);
          height: 2px;
          margin-top: 3px;
          padding: 0 0.5rem;
        }
      }
    }
  }

  &__details {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    justify-content: start;
    @media only screen and (max-width: 430px) {
      justify-content: center;
      transform: rotate(90deg);
    }

    &--aside {
      display: flex;
      flex-direction: row;
      width: 60vw;
      justify-content: space-between;

      @media only screen and (max-width: 430px) {
        display: none;
      }
    }

    &--chart,
    &--description {
      display: flex;
      align-items: center;
    }

    &--description {
      width: 75%;
      padding: 1rem;
      @media only screen and (max-width: 830px) {
        display: none;
      }
      & > p {
        max-height: 10rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
        overflow: hidden;
      }
    }

    & > a > .moreDetails {
      cursor: pointer;
    }
  }
}

.filterList {
  display: flex;
  list-style: none;
  flex-wrap: wrap;

  & a {
    color: var(--main-text);
  }

  @media only screen and (max-width: 1194px) {
    word-wrap: break-word;
  }
  &__item {
    margin-right: 0.75rem;

    & > a {
      text-decoration: none;
      cursor: pointer;
    }

    &.active {
      text-decoration: underline;
    }
  }
}

.semi-donut {
  --percentage: 0;
  --fill: #f5f5f5;
  width: 10rem;
  height: 5rem;
  position: relative;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  overflow: hidden;
  color: var(--fill);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
  &:after {
    content: "";
    width: 10rem;
    height: 10rem;
    border: 1rem solid;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.15) var(--fill) var(--fill);
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
    animation: fillAnimation 1s ease-in;
  }
}
