/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: NetflixSans-Regular;
  src: url(/adminDashboard/src/assets/fonts/NetflixSans-Regular.otf);
}

:root {
  --main-bg: rgba(18, 18, 18, 1);
  --secondary-bg: rgb(28, 28, 28);
  --main-text: rgba(245, 245, 241, 1);
  --text: rgba(245, 245, 241, 0.1);
  --red: rgba(229, 9, 20, 1);
  --green: rgba(0, 255, 0, 1);
  --yellow: rgba(255, 255, 0, 1);
  --blue: rgb(42, 42, 107);
  --gray: rgb(46, 45, 45);
  --shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  background-color: var(--main-bg);
}

body {
  font-family: NetflixSans-Regular;
  font-size: 1.125rem;
  line-height: 1.5;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
}
